<% @title="Know Your Operating System" %>
<div style="padding-top: 43px;">
  <%= form_for(@contact) do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :class => "form-control",:autofocus=>true, :required => true %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, :class => "form-control", :required => true %>
      </div>
      <div class="form-group">
        <%= f.label :message %>
        <%= f.text_area :message,:class=>"form-control", :required => true %>
      </div>
      <div class="actions text-right">
        <%= f.submit 'Send Message', class: "btn btn-success" %>
      </div>
  <% end %>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
