<%= simple_form_for @post, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title %>
  <%= f.label :description %>
  <%= f.cktext_area :description %>
  <%= f.input :video %>
  <strong><%= "Choose operating system"%></strong>
  <br />
    <%= f.collection_select :category_id, Category.all, :id, :name, {promt: "Choose a category"} %>
  <br />
  <br />
  <br />
  <button type="submit" class="btn btn-default">Submit</button>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn btn-default' %>
<% end %>
