<%- model_class = Post -%>
<% @title="Know Your Operating System" %>
<div class="page-header">
  
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="5" ><%= model_class.human_attribute_name(:Posts) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th>
      <%=t '.actions', :default => t("helpers.     ") %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td colspan="5" ><%= link_to post.title, post_path(post) %></td>
        <td><%=l post.created_at %></td>
        <td>
          <% if post.user == current_user %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_post_path(post), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
