<%- model_class = Post -%>
<link rel="stylesheet" href="video.css">
<div class="page-header">
  
</div>
<table>
  <tr>
    <td>
      <h1><%= @post.title %><h1>
    </td>
  </tr>
  <tr>
    <td>
      <%= simple_format @post.description %>
    </td>
  </tr>
  <tr>
    <td>
      <% if @post.video == '' %>
      <% else %>
        <div class="video-wrapper">
          <iframe src="<%= "http://www.youtube.com/embed/"+@post.video %>"></iframe>
        </div>
      <% end %>
    </td>
  </tr>
</table>
<h3>Comments</h3>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.name %></strong>
    <br />
    <p><%= comment.Comment %></p>
  </div>
<% end %>
<%= render 'comments/form' %>
<br />
<%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'btn btn-success'  %>

