<%- model_class = Post -%>
<% @title="#{@post.title}" %>
<link rel="stylesheet" href="video.css">
<div class="page-header">
  
</div>

<dl class="dl-horizontal">
  <dt></dt>
  <dd><u><center><i><strong><font color="#602F4D"><%= @post.title %></font></strong></i></center></u></dd>
  <dt></dt>
  <dd><%= simple_format @post.description %></dd>
  <dt></dt>
  <div class="video-wrapper">
  <dd><iframe src="<%= "http://www.youtube.com/embed/"+@post.video %>"></iframe></dd>
  </div>
</dl>
<h3>Comments</h3>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.name %></strong>
    <br />
    <p><%= comment.body %></p>
    <p><%= time_ago_in_words comment.created_at %> ago</p>
  </div>
<% end %>
<%= render 'comments/form' %>
<br />
<%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'btn btn-default'  %>

